.icon {
    width: .6rem;
    height: .6rem;
    vertical-align: -0.15em;
    fill: currentColor;
    color: #ea6f5a;
    overflow: hidden;
}

#m-navbar-d {
    height: 1rem;
}

#m-navbar-d:after {
    border-bottom: 1px solid #ffffff;
}

.nav-logo {
    width: 1rem;
    height: 1rem;
    fill: #E45050;
}

.search-nav {
    background: rgba(255, 255, 255, .98);
    padding: .3rem .2rem .4rem .2rem;
}

.search-nav .search-nav-line {
    border: 1px solid #c1c1c1;
    border-radius: .1rem;
}

.search-nav-line .cell-search {
    padding: 0 .1rem 0;
}

.search-nav-line .icon-search {
    font-size: .4rem;
    color: #757575;
}

.search-nav-line .cell-input {
    /*font-size: .38rem;*/
}

.ga-content h1.title {
    font-size: .46rem;
    color: #2f2f2f;
}

.ga-content {
    padding: 12px 12px 0px 12px;
    background: #FFF;
}

.ga-content p {
    line-height: .48rem;
    font-size: .29rem;
    color: #2f2f2f;
}

.ga-content-textarea p {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.ga-content table {
    font-size: .26rem;
}

.ga-content .watch-wechat p {
    text-align: center;
    color: #969696;
    font-weight: 800;
}

.c-low {
    color: #b1b1b1;
}

.pd20 {
    padding: .26rem 0 0 0;
}

.more-article h3 {
    font-size: .43rem;
    color: #2f2f2f;
}

.more-article p,
.more-article h3,
.watch-wechat p {
    margin: 0 0 .26rem;
}

.more-article p a {
    color: #E45050;
}

.watchs {
    height: 3rem;
}

.watchs .icon-like-outline {
    color: #E45050;
    font-weight: bold;
}

.box-qrcode {
    margin: 0 1.3rem;
}

.box-qrcode img {
    width: 100%;
}

.g-scrollview-index {
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
    margin-bottom: -1px;
}


img {
    /* display: inline; */
    width: 100%;
    height: 100%;
    /* height: auto; */
}

td {
    border: 1px solid #cacaca;
    padding: .15rem .1rem;
}

.cp-intd {
    border: 1px solid #cacaca;
    margin-top: .55rem;
    height: auto;
}

.cp-title {
    position: absolute;
    background-color: #fff;
    margin-left: .78rem;
    padding: 0 .1rem;
    top: -.25rem;
}

.cp-info-left {
    width: 72%;
    margin: 0 1% 0 7%;
}

.cp-info-right {
    width: 40%;
    margin-right: .2rem;
}

.cp-info-left,
.cp-info-right {
    display: inline-block;
    margin-top: .2rem;
    margin-bottom: .2rem;
}

.cp-info-left .cp-name {
    font-size: .36rem;
    color: #E45050;
    line-height: .79rem;
}

.cp-info-left .kown-more {
    font-size: .28rem;
    color: #555;
    line-height: .6rem;
    margin-top: .1rem;
}

.visitor {
    font-size: 0.3rem;
    color: #555;
    padding-top: .15rem;
}

.visitor .icon-like-outline {
    color: #E45050;
    font-size: .35rem;
    padding-right: .07rem;
    font-weight: 800;
}

.ue-table-interlace-color-double {
    background-color: #f7faff;
}

.ue-table-interlace-color-single {
    background-color: #fcfcfc;
}